<div id="chat_app"
  data-channel="<%= @channel.to_json %>"
  data-current-user-id="<%= current_user.id %>"
  data-logo-path="<%= asset_path "logo.svg" %>"
></div>

<% content_for :after_js do %>
  <%= javascript_pack_tag "chat" %>
<% end %>
