<div id="app">
  <div class="messaging-wrapper">
    <div class="logo-container">
      <%= image_tag "logo.svg", class: "messaging-logo" %>
    </div>
    <!-- inject React App here -->
  </div>
</div>
